name: "Edge Mining"
description: "An innovative solution to optimize the use of excess energy produced by small power plants, particularly domestic ones, integrating Bitcoin mining in the system, making it an easy-to-implement choice. This approach turns a potential inefficiency into a concrete opportunity for profit and sustainable energy use."
version: "0.2.0"
slug: "edge_mining"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
hassio_api: true
hassio_role: manager
host_network: true
homeassistant_api: true
map:
  - type: homeassistant_config
    read_only: False
    path: /config/

options:
  inverter_type: voltronic
  solaredge_ip: "192.168.1.100 (set this ONLY for SOLAREDGE inverters)"
  solaredge_port: 1502
  solaredge_modbus_address: 1
  miner_ip: "192.168.1.111"
  miner_username: "root"
  miner_password: "root"
  miner_title: "S19j Pro"
  mqtt_broker_host: "homeassistant"
  mqtt_username: "mqtt_user"
  mqtt_password: "mqtt_password"

schema:
  inverter_type: list(voltronic|solaredge)
  solaredge_ip: str?
  solaredge_port: int?
  solaredge_modbus_address: int?
  miner_ip: str
  miner_username: str
  miner_password: password
  miner_title: str
  mqtt_broker_host: str?
  mqtt_username: str?
  mqtt_password: password?